       @tlo: linear-gradient(-20deg, #5DA4FA, white 50%);
       @shadow: 6px 16px 15px 0px rgba(175, 175, 175, 0.85);
       .format() {
          line-height: 25px;
          letter-spacing: 1px;
          color: #404E5D;
       }
       
       body {
          background: url(grafika/wave.png) no-repeat;
          background-attachment: fixed;
          background-size: cover;
          background-position: top;
          font-family: 'Montserrat', sans-serif;
          header {
             background-color: ;
             .container {
                background: white;
                margin-bottom: 10px;
                nav {
                   h1 {
                      letter-spacing: 3px;
                      float: left;
                      color: black;
                   }
                   p {
                      float: right;
                      padding: 8px;
                      a {
                         letter-spacing: 2px;
                         color: black;
                         margin-right: 20px;
                      }
                   }
                }
             }
          }
          main {
             background: ;
             .container {
                box-shadow: -0.4px 35px 20px 3px #908e8e;
                letter-spacing: 1px;
                .row {
                   .col-lg-12 {
                      text-align: right;
                      background: linear-gradient(-15deg, #5DA4FA, white 50%);
                      padding: 5em 1em 8em;
                      overflow: hidden;
                      flex-direction: column;
                      -webkit-flex-direction: column;
                      align-items: stretch;
                      -webkit-align-items: center;
                      justify-content: center;
                      -webkit-justify-content: center;
                   }
                   .col-lg-6 {
                      text-align: center;
                      padding: 4em 1em 3em;
                      overflow: hidden;
                      flex-direction: column;
                      -webkit-flex-direction: column;
                      align-items: stretch;
                      -webkit-align-items: center;
                      justify-content: center;
                      -webkit-justify-content: center;
                   }
                }
             }
          }
          .container {
             background: ;
             .row {
                .col-lg-4 {
                   box-shadow: -0.4px 3px 20px 3px #908e8e;
                   margin: 0px 0px 5px;
                   padding: 3em 1em 3em;
                   color: black;
                   border-right: 1px dotted dimgray;
                   line-height: 25px;
                   .info {
                      color: black;
                      font-weight: 700;
                   }
                }
                #first {
                   background: linear-gradient( rgba(255, 255, 255, 0.61) 100%, transparent 100%), url(grafika/financial-2860753_640.jpg)no-repeat;
                   background-position: center;
                   background-size: cover;
                }
                #second {
                   background: linear-gradient( rgba(255, 255, 255, 0.61)100%, transparent 100%), url(grafika/roundtable-828546_640.jpg) no-repeat;
                   background-position: center;
                   background-size: cover;
                }
                #third {
                   background: linear-gradient( rgba(255, 255, 255, 0.61)100%, transparent), url(grafika/building-plan-354233_640.jpg)no-repeat;
                   background-position: center;
                   background-size: cover;
                }
                #carousel-generic {
                   height: 250px;
                   color: black;
                   .carousel-indicators {
                      li {
                         background-color: gray;
                         &:hover {
                            background-color: lightblue;
                         }
                      }
                   }
                   /*wrapper*/
                   .carousel-inner {
                      text-align: center;
                      .item {
                         height: 250px;
                         background: rgba(173, 216, 230, 0.99);
                         .carousel-caption {}
                      }
                   }
                   .left {}
                }
             }
          }
          .col-lg-12 {
             background-color: white;
             padding: 20px;
             text-align: center;
             line-height: 30px;
             letter-spacing: 1px;
          }
          iframe {
             width: 100%;
             height: 250px;
          }
          footer {
             padding: 40px;
             text-align: center;
             letter-spacing: 2px;
             a {
                transition: all 1s;
                &:hover {
                   transform: scale(1.5);
                   -mon-transform: scale(1.5);
                   -o-transform: scale(1.5);
                   -webkit-transform: scale(1.5);
                }
             }
             img {
                padding: 10px;
                margin-right: 10px;
                transition: all 5s;
             }
          }
       }